
.search{
    display: flex;
    flex:2.2;
}
.icon{
    display: flex;
    flex:1;
    margin-left: 20px;
    color : white;
}
a{
    text-decoration: none;
    color: #000;
    display: flex;
}
#iconName{
    font-size: 40px;
    font-weight: bold;
    justify-items: center;
    margin:0;
}
.wrapper{
    display: flex;
    text-align: center;
    height: 100px;
    padding-top: 40px;
    background-color: #FFF56E;
    background-image: url("../asset/images/chicken.png");
    width:100%;
}
@media(max-width:500px){
    .wrapper{
        display: flex;
        text-align: center;
        height: 100px;
        padding-top: 40px;
        background-color: #FFF56E;
        background-image: url("../asset/images/chicken.png");
        width:fit-content;
    }
}