.orderform{
    border : 3px solid skyblue;
    justify-content: center;
    width: 50%;
    padding: 40px;
  }

.menu_Many{
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
  
  @media(max-width:570px){
    .orderform{
      width: 85%;
      padding: 30px;
    }
  }